[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

package-name = collective.exampledevtools

parts += omelette

extensions = 
    mr.developer
    buildout.dumppickedversions

dump-picked-versions-file = picked-versions.cfg

sources = sources
# List products under development here
auto-checkout += 
unzip = true

allow-hosts =
    pypi.python.org
    dist.plone.org

[sources]
# List source locations for products under development
# Note: Plone core, collective and archetypes are now on GitHub:
# plone.app.discussion = git ${remotes:plone}/plone.app.discussion

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    collective.exampledevtools [test]
defaults = ['-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[instance]
zope-conf-additional = %import sauna.reload
eggs +=
    ipdb
    jarn.mkrelease
    sauna.reload
    Products.signalstack
    Products.Clouseau
    Products.PDBDebugMode



